<h5 class="title-page">
    <span><i class="fa fa-dashboard"></i></span> Tableau de bord
</h5>
<!-- <div class="box-welcome">
  <div>
      <h3>Bienvenue</h3>
      <p>Dans votre espace de travail</p>
  </div>
  <img src="{{'assets/images/img-r.png'}}" alt="">
</div> -->
<!-- 
<div class="row boxs mt-4">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>105</h3>
                    <p>Clients</p>
                </div>
                <img src="{{ 'assets/images/mdi_ship-wheel.png' }}" alt="Equipements" />
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>04</h3>
                    <p>Demandes en cours</p>
                </div>
                <img src="{{ 'assets/images/bxs_ship.png' }}" alt="Navires" />
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>23</h3>
                    <p>Demandes clôturées</p>
                </div>
                <img src="{{ 'assets/images/bxs_ship.png' }}" alt="Navires" />
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>84</h3>
                    <p>Demandes traitées</p>
                </div>
                <img src="{{ 'assets/images/carbon_session-border-control.png' }}" alt="Contrôle/navires" />
            </div>
        </a>
    </div>
</div> -->

<div class="row boxs mt-4">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>105</h3>
                    <p>Employees</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>04</h3>
                    <p>Employés permanents</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>23</h3>
                    <p>Employés non permanents</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="box-item">
                <div>
                    <h3>84</h3>
                    <!-- <p>Demandes <br> traitées</p> -->
                    <p>Employés non signés</p>
                </div>
            </div>
        </a>
    </div>
</div>
